html {
    box-sizing: border-box;
}

header {
    background-color: rgba(255,255,255,0.5);
    border-radius: 1em;
}

body {
    background-color: #faf2e4;
    background-repeat: no-repeat;
    background-position: center 100px;
    margin: 0 10%;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #783F27;
    color: #783F27;
    font-size: 3em;
}

h2 {
    color: #d1633c;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #57b1dc;
}

a:hover {
    color: #c700f2;
    background-color: #fff;
}

a:visited {
    color: #937393;
}

a:active {
    color: #ff00ff;
}

source {
    align-content: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*
nav {
    text-align: center;
} */

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

nav ul li a { 	
    display: block; 	
    border: 1px solid; 	
    border-radius: .5em; 	
    padding: .5em 1em; 	
    margin: .5em; 
}

/* picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.main-image {
    max-width: 40%;
    height: auto;
    margin-top: 1em;
}

.container {
    width: auto;
    margin-top: 2em;
    background-color: rgba(255,255,255,0.5);
    border-radius: 1em;
    padding: 1em 0em;
}

.inner-container {
    padding: 1em 6em;
}

.inner {
    margin-top: 2em;
    border: 3px solid #783F27;
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1em;
}

.main {
    padding: 0em 2em;
    padding-bottom: 2.5em;
}

.about {
    text-align: center;
    padding-top: 2em;
}

.title {
    border-bottom: 0px solid #d1633c;
    color: #d1633c;
    font-size: 2.5em;
}

small {
    margin-bottom: -0.3em;
    font-size: 0.8em;
    font-weight: bold;
}

footer {
    margin-top: 2em;
    text-align: center;
    font-size: .8em;
}